<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>

    <header class="site-header">
      <div class="wrapper">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <p> {{ site.title }} • {{ site.description }}</p>
        <p><small>Connect on <a href="https://www.linkedin.com/in/antonis-prodromou-1b1bb02a6" target="_blank">LinkedIn</a></p>
      </div>
    </footer>

  </body>
</html>
